.recipe_card {
  width: 100%;
}

.date_text {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
}

.left_side {
  width: 30%;
}

.right_side {
  position: relative;
  width: 70%;
}

.card_image {
  border-radius: 12px;
  width: 100%;
}

.copied_link {
  bottom: 0;
  font-size: 0.8rem;
  font-weight: 300;
  position: absolute;
  right: 0;
}

.recipe_info {
  max-width: 200px;
  width: 100%;
}

.recipe_title_color {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.recipe_title_size {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
