.login_page {
  align-items: center;
  background-image: url('../../images/background.jpg');
  background-position: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
}

.overlay {
  border-image-slice: fill 1;
  border-image-source: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-style: solid;
  border-width: 0;
}

.login_page--title {
  margin-bottom: 1rem;
}

.login_page form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_box {
  margin-top: 1rem;
}

.input_box label {
  display: block;
}

.login_page form button {
  margin-top: 1rem;
  width: 100%;
}
