.carousel-container {
  background-color: #212024;
  display: grid;
  grid-auto-columns: calc(100% / 2);
  grid-auto-flow: column;
  max-width: 340px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: #ef8798 #212024;
}
