.start_button {
  background-color: #e30957;
  border: none;
  border-radius: 12px;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  margin: 0 1rem 1rem 0;
  position: fixed;
  right: 0;
  width: 100px;
  z-index: 5;
}
