.footer {
  background-color: #106e87;
  border-top: 1px solid #106e87;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

.footer-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.footer_image_meal {
  height: 34px;
  width: 34px;
}

.footer_image_drink {
  height: 23px;
  width: 23px;
}
